.input-grp {
  display: flex;

  margin-bottom: 16px;

  label {
    background: $c-main;
    border: 2px solid $c-main;
    width: 80px;
    height: 32px;

    min-width: 80px;
    font-weight: bold;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: $c-white;
  }

  input {
    border: 2px solid #dd3f4e;
    padding-left: 8px;
    height: 32px;
    border-radius: 0px 10px 0px 0px;
    background-color: white;
  }
}

.stat-input {
  display: flex;
  flex-direction: column;
  margin: 4px 0px;

  label {
    background-color: $c-black;
    color: $c-white;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 24px;
    display: inline-flex;
    font-size: 12px;
    margin-bottom: 4px;
  }

  input {
    border: 1px solid $c-black;
    width: 52px;
    height: 24px;
    text-align: center;
    text-transform: uppercase;
    background-color: white;
    border-radius: 0px;
  }
}

.styled-input {
  margin: 4px 0px;
  display: flex;

  &.wide-label {
    label {
      flex-grow: 1;
    }
    input {
      flex-basis: 64px;
      margin-left: 16px;
    }
  }

  &.flex {
    justify-content: space-between;
    label {
      font-size: 10px;
      flex-basis: 50%;
    }
    input {
      width: 64px;
    }
  }

  &.no-bg {
    label {
      background-color: $c-white !important;
      color: $c-black !important;
      border: 1px solid $c-black;
    }
  }

  input {
    border: 1px solid $c-black;
    padding-left: 4px;
    height: 32px;
    text-align: center;
    text-transform: uppercase;
    background-color: white;
    border-radius: 0px;
    width: 64px;
  }

  label {
    background-color: $c-black;
    color: $c-white;
    text-transform: uppercase;
    height: 32px;
    text-align: center;
    padding: 0px 4px;
    display: inline-flex;
    margin-right: 8px;
    align-items: center;
    justify-content: center;
    width: 120px;
  }
}

.grid-wrap {
  .input-grp {
    margin: 0px;
  }
  display: grid;
  grid: 1fr / 1fr 1fr;
  grid-gap: 32px;
}

.skill-roll {
  background: none;
  border: 1px solid $c-main;
  color: $c-main;
  width: 100%;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 8px;
}

.skill-input {
  display: flex;
  flex-wrap: wrap;
  input,
  button {
    font-size: 12px;
    height: 32px;
    background: none;
    border: 1px solid $c-main;
  }

  .si-name {
    width: 144px;
  }
}

.armor-input {
  display: flex;
  flex-wrap: wrap;
  input {
    font-size: 12px;
    border: 1px solid $c-black;
    padding-left: 4px;
    height: 32px;
    text-align: center;
    text-transform: uppercase;
    background-color: white;
    border-radius: 0px;
  }

  label {
    background-color: $c-black;
    color: $c-white;
    text-transform: uppercase;
    height: 32px;
    text-align: center;
    padding: 0px 4px;
    display: inline-flex;
    margin-right: 8px;
    align-items: center;
    justify-content: center;
  }
  .armor-name {
    width: 100%;
    margin-bottom: 8px;
  }

  .armor-value {
    margin-right: 16px;
    display: flex;
    input {
      width: 40px;
    }
  }
}
