// Import utilities.
@import "utils/typography";
@import "utils/colors";
@import "utils/mixins";
@import "utils/variables";

/* Global styles */
@import "_global";
@import "_forms";
@import "_components";

/* Styles limited to boilerplate sheets */
.cyberpunkred {
  min-width: 595px;
  font-family: $font-primary;
  background-color: $c-main;
  .background-sheet {
    background-color: $c-white;
  }
}
